:root.dark {
  --main-color: #333333;

  --selection-text-color: #413a1f;
  --selection-bg-color: #fdfdfd;

  // 主体
  --bg-color: #333333;
  --bg-color-50: oklch(0.15 0 0);
  --bg-color-100: oklch(0.2 0 0);
  --bg-color-300: oklch(0.3 0 0);
  --text-color: #afaaa6;
  --text-color-200: oklch(0.7 0 0);
  --text-color-next-200: oklch(0.75 0 0);
  --text-color-300: oklch(0.8 0 0);
  --text-color-next-300: oklch(0.85 0 0);
  --text-color-400: oklch(0.97 0.01 136.32);
  --text-color-next-400: oklch(0.98 0.02 81.44 / 0.71);
  --text-color-500: oklch(0.98 0 0);
  --text-color-next-500: oklch(0.97 0.01 136.32);
  --text-color-600: oklch(0.98 0.02 81.44 / 0.71);
  --text-color-next-600: oklch(0.97 0.01 136.32);
  --text-color-700: oklch(0.98 0.02 81.44 / 0.71);
  --text-color-next-700: oklch(0.97 0.01 136.32);
  --text-color-800: oklch(0.98 0.02 81.44 / 0.71);
  --text-color-900: oklch(0.98 0.02 81.44 / 0.71);
  --border-color-300: oklch(0.44 0 0);
  --border-color-400: oklch(0.43 0 0);
  --divide-color-100: oklch(0.4 0 0);
  --divide-color-200: oklch(0.32 0 0);

  --ring-color: oklch(0.32 0 0);
  --ring-color-100: oklch(0.33 0 0);
  --ring-color-300: oklch(0.33 0 0);
  --dash-line-color: oklch(0.33 0 0);

  // 通用卡片
  --card-color: #262626;
  --card-text-color: oklch(0.98 0 0);

  --back-to-top-bg-color: #262626;
  --player-button-bg-color: #3e2d22;
  --player-button-hover-bg-color: #5a4032;

  // 编辑器
  --theboard-border-color: #f2f2f2;
  --editor-bg-color: #262626;
  --editor-text-color: oklch(0.98 0 0);
  --editor-title-color: oklch(0.9 0.01 136.32);
  --tag-editor-border-color: oklch(0.33 0 0);
  --image-uploader-bg-color: #333333;
  --image-uploader-bar-bg-color: #262626;

  // 小组件
  --widget-bg-color: #212121;
  --widget-title-color: oklch(0.98 0.02 81.44 / 0.71);
  --widget-text-color: oklch(0.97 0.01 136.32);

  // Connect
  --connect-border-color: oklch(0.32 0 0);
  --connect-dot-border-color: #262626;

  // 时间轴
  --timeline-line-color: oklch(0.49 0 0);
  --timeline-dot-color: oklch(0.84 0.09 74.35 / 0.62);
  --timeline-datetime-color: oklch(0.79 0.06 81.69 / 0.67);
  --timeline-tag-color: oklch(0.47 0 0);
  --timeline-load-more-bg-color: #262626;
  --timeline-load-more-text-color: oklch(0.97 0 0);
  --timeline-load-more-active-bg-color: oklch(0.35 0 0);

  // Echo
  --echo-card-btn-bg-color: #262626;
  --echo-detail-bg-color: #262626;
  --echo-text-color: oklch(0.9 0.01 136.32);
  --echo-detail-username-color: oklch(0.98 0.02 81.44 / 0.71);
  --echo-detail-datetime-color: oklch(0.63 0 0);

  // Heatmap
  --heatmap-ring-color: oklch(0.35 0 0);
  --heatmap-bg-color-0: #212121;
  --heatmap-bg-color-1: #c6e48b;
  --heatmap-bg-color-2: #7bc96f;
  --heatmap-bg-color-3: #239a3b;
  --heatmap-bg-color-4: #196127;

  // Dashboard
  --dashboard-main-color: #995822c5;
  --dashboard-next-color: #80421991;

  // Panel
  --active-panel-tab-bg-color: oklch(0.18 0.02 70.61);
  --active-panel-tab-text-color: oklch(0.85 0.03 70.53);

  // 通用组件
  --btn-bg-color: oklch(0.25 0 0);
  --btn-ring-color: oklch(0.25 0 0);

  --input-bg-color: #262626;
  --input-border-color: #373737;
  --textarea-bg-color: #262626;

  --placeholder-color: oklch(0.7 0 0);
  --combobox-bg-color: #262626;

  --dialog-bg-color: #262626;
  --dialog-title-color: oklch(0.98 0.02 81.44 / 0.71);
  --dialog-text-color: oklch(0.98 0 0);
  --dialog-cancel-btn-bg-color: #262626;
  --dialog-confirm-btn-bg-color: oklch(0.47 0.03 131.74);
  --dialog-btn-text-color: #ffffff;

  --select-bg-color: #262626;
  --select-disabled-bg-color: oklch(0.27 0 0);
  --select-border-color: #373737;
  --select-label-text-color: oklch(0.75 0 0);
  --select-label-hover-bg-color: oklch(0.3 0 0);
  --select-label-clicked-bg-color: oklch(0.25 0 0);
}
